<!-- <div *ngIf="patient">
	<h2>{{patient.lastName | uppercase}} Details</h2>
	<div><span>UUID: </span>{{patient.uuid}}</div>

	<div>
		<label for="patient-name">Patient last name: </label>
		<input id="patient-name" [(ngModel)]="patient.lastName" placeholder="Patient last name">
	</div>
	<div>
		<label for="patient-name">Patient first name: </label>
		<input id="patient-name" [(ngModel)]="patient.firstName" placeholder="Patient first name">
	</div>
	<button (click)="goBack()">go back</button>
	<button (click)="save()">save</button>
</div> -->